@import url(https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css);

@font-face {
  font-family: 'CorbelFont';
  src: url('Corbel.ttf') format('truetype');
}

@font-face {
  font-family: 'CorbelFont';
  src: url('Corbel Bold.ttf') format('truetype');
}

.social a {
  display: inline-block;
  text-align: center;
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.social i {
  font-size: 2em;
  color: #aaa;
  transition: transform 250ms ease;
  transform: scale(0.9);
  display: inline-block;
}

.social a:hover i {
  font-size: 2em;
  transition: transform 100ms ease;
  transform: scale(1);
}

.social a:hover i:before {
  content: "\f233";
}

.hello {
  font-family: 'CorbelFont', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 3.5em;
  margin: 0;
}

.hello .text-wrapper {
  position: relative;
  display: block;
}

.hello .line {
  position: absolute;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #000;
  transform-origin: 0 50%;
}

.hello .line1 {
  top: 0;
  left: 0;
}

.hello .line2,
.hello .line3,
.hello .line4,
.hello .line5 {
  opacity: 0;
  top: 0;
  left: 0;
}

.hello .letter {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
}

.blinking {
  -webkit-animation: blink 1s infinite;  /* Safari 4+ */
  -moz-animation: blink 1s infinite;  /* Fx 5+ */
  -o-animation: blink 1s infinite;  /* Opera 12+ */
  animation: blink 1s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes "blink" {
  0%, 49% {
    background-color: #000;
  }
  50%, 100% {
    background-color: #fff;
  }
}
